:root {
  --global-h1-color: #369;
  --global-h1-font-size: 250%;

  --global-h2-color: #444;
  --global-h2-font-weight: lighter;

  --global-h3-color: var(--global-h2-color);
  --global-h3-font-weight: var(--global-h2-font-weight);

  --global-nav-link-padding: 5px 10px;
  --global-nav-link-text-decoration: none;
  --global-nav-link-margin: 10px 10px 0 0;
  --global-nav-link-display: inline-block;
  --global-nav-link-background-color: #eee;
  --global-nav-link-border-radius: 4px;
  --global-nav-link-visited-color:  #607D8B;
  --global-nav-link-hover-color:  #039be5;
  --global-nav-link-hover-background-color:  #CFD8DC;
  --global-nav-link-active-color:  #039be5;
}

body {
  margin: 2em;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
